  <!-- Start Footer Section -->
  <footer class="footer-section">
    <div class="container relative">

      

        <div class="row">
            <div class="col-lg-8 py-5">
                <div class="subscription-form ">
                    <b class="d-flex align-items-center"><span class="me-1"><img src="https://themewagon.github.io/furni/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></b>

                    <form action="#" class="row g-3 py-2">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4 ">
                <div class="mb-4 footer-logo-wrap ">  <a class="navbar-brand h1" href="index.html">Furni<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8 pt-5">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-dark text-decoration-none">About us</a></li>
                            <li><a href="#" class="text-dark text-decoration-none">Services</a></li>
                            <li><a href="#" class="text-dark text-decoration-none">Blog</a></li>
                            <li><a href="#" class="text-dark text-decoration-none">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-dark text-decoration-none">Support</a></li>
                            <li><a href="#" class="text-dark text-decoration-none">Knowledge base</a></li>
                            <li><a href="#" class="text-dark text-decoration-none">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-dark text-decoration-none">Jobs</a></li>
                            <li><a href="#"class="text-dark text-decoration-none">Our team</a></li>
                            <li><a href="#"class="text-dark text-decoration-none">Leadership</a></li>
                            <li><a href="#"class="text-dark text-decoration-none">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#"class="text-dark text-decoration-none">Nordic Chair</a></li>
                            <li><a href="#"class="text-dark text-decoration-none">Kruzo Aero</a></li>
                            <li><a href="#"class="text-dark text-decoration-none">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright ©<script>document.write(new Date().getFullYear());</script>2024. All Rights Reserved. — Designed with love by <a href="https://untree.co" class="text-dark text-decoration-none">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#"class="text-dark text-decoration-none">Terms &amp; Conditions</a></li>
                        <li><a href="#" class="text-dark text-decoration-none">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->